<app-navbar></app-navbar>
<div class="content">
  <app-sidebar></app-sidebar>

  <div class="email-view-container">
    <div class="email-view-header">
      <div class="actions-menu">
        <img src="" alt="" />
        <img src="../../assets/archive.svg" alt="" />
        <img src="../../assets/spam.svg" alt="" />
        <img src="../../assets/trash.svg" alt="" />
        <img src="../../assets/label.svg" alt="" />
      </div>
      <!-- <div class="pagination">
        <p>1-50 of 200 &#8592; &#8594;</p>
      </div> -->
    </div>

    <div class="email-view-content">
      <div class="email-subject">
        <p>{{ emailItem?.emailTitle }}</p>
      </div>

      <div class="email-recipient">
        <div class="recipient-details">
          <div class="recipient-avatar">
            <img src="../../assets/avatar.svg" alt="" />
          </div>
          <p>
            <span class="recipient-mail">{{ emailItem?.userName }}</span>
          </p>
          <p class="receiver">to me</p>
        </div>
      </div>

      <div class="email-body">
        <p>
          {{ emailItem?.emailBody }}
        </p>
      </div>

      <div class="email-smart-reply">
        <button type="button">Looking forward to it!</button>
        <button type="button">Thanks for the update!</button>
        <button type="button">We will be there!</button>
      </div>

      <hr />

      <div class="action-btns">
        <button type="button" class="btn btn-reply">
          <img src="../../assets/reply-icon.svg" alt="" /><span> Reply </span>
        </button>
        <button type="button" class="btn btn-forward">
          <img src="../../assets/forward.svg" alt="" /><span> Forward </span>
        </button>
      </div>
    </div>
  </div>
</div>
