<aside class="sidebar">
  <a (click)="openModal()" class="compose-container">
    <img src="../../assets/New.svg" alt="" /><span>Compose</span>
  </a>

  <ul class="categories">
    <li class="category">
      <a routerLink="/inbox" routerLinkActive="active">
        <img src="../../assets/inbox.svg" alt="" /><span>Inbox</span>
      </a>
    </li>
    <li class="category">
      <a
        routerLink="/sent"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <img src="../../assets/sent.svg" alt="" /><span>Sent</span>
      </a>
    </li>
    <li class="category">
      <a routerLink="/spam" routerLinkActive="active"
        ><img src="../../assets/spam.svg" alt="" /><span>Spam</span></a
      >
    </li>
  </ul>
</aside>
