<div class="compose-container">
  <h5>New Message</h5>

  <form [formGroup]="emailForm" (submit)="handleMailSubmit()">
    <div>
      <label for="from">From: </label>
      <input type="text" id="from" name="from" formControlName="emailId" />
    </div>

    <div>
      <label for="to">To: </label>
      <input type="text" id="to" name="to" formControlName="to" />
    </div>

    <div>
      <label for="subject">Subject: </label>
      <input
        type="text"
        id="subject"
        name="subject"
        formControlName="emailSubject"
      />
    </div>

    <div>
      <label for="body">Body: </label>
      <textarea id="body" name="body" formControlName="emailBody"></textarea>
    </div>

    <button type="submit">Send</button>
  </form>
</div>
