/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100svh;
}

a {
  text-decoration: none;
  color: currentColor;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content {
  display: grid;
  grid-template-columns: min-content auto;
}
